body {
    background-image: url(https://raw.githubusercontent.com/sogarg/abcs-for-babies/master/assets/images/AforApple1.2.jpg);
    background-position: right center;
    height: 100vh;
    background-size: 200% 100%;
}
